* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 8px;
    font-family: Arial, sans-serif;
    background-color: #b9dcf2;
    color: #5D6169;
}

nav {
    background-color: #f6cfbe;
    color: #fff;
    padding: 10px 20px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 50px;
}

ul a {
    text-decoration: none;
    color: #5D6169;
}

ul a:hover {
    text-decoration: none;
    color: #fff;
}

a {
    color: #d14c74;
}

a:hover {
    color: #fff;
}

/* Hero Section */

.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url('../images/Under\ the\ wave.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.hero-section_wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 53%);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero-section_wrapper h1 {
    margin-bottom: 24px;
    font-family: "Poetsen One", sans-serif;
}

.hero-section__link {
    margin-top: 40px;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.hero-section__link:hover {
    background-color: #6495ED;
    color: #fff;
}

.quote {
    min-height: 500px;
    width: 100%;
    background-color: #fff;
    font-size: 55px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poetsen One", sans-serif;
}

.statement {
    font-size: 48px;
    margin-bottom: 20px;
    color: #5D6169;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
    font-size: 20px;
}

.assignment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 100px 50px;
}

.assignment-list-card {
    border: 2px solid #d14c74;
    width: 40%;
    height: 300px;
    background-color: #f6cfbe;
    border-radius: 50px;
}