* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    padding: 8px;
    font-family: Arial, sans-serif;
    background-color: #b9dcf2;
    color: #5D6169;
}

nav {
    background-color: #f6cfbe;
    color: #fff;
    padding: 10px 20px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: end;
}

ul a {
    text-decoration: none;
    color: #5D6169;
}

ul a:hover {
    text-decoration: none;
    color: #fff;
}

a {
    color: #d14c74;
}

a:hover {
    color: #fff;
}

/* Hero Section */

.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url('../images/Under\ the\ wave.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.hero-section_wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 53%);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero-section_wrapper h1 {
    margin-bottom: 24px;
    font-family: "Poetsen One", sans-serif;
}

.hero-section__link {
    margin-top: 40px;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.hero-section__link:hover {
    background-color: #6495ED;
    color: #fff;
}

.quote {
    min-height: 500px;
    width: 100%;
    background-color: #fff;
    color: #3e4772;
    font-size: 55px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poetsen One", sans-serif;
}

blockquote cite {
    display: block;
    margin-top: 15px;
    text-align: right;
    font-size: 1rem;
    color: #555;
}

.assignment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 100px 50px;
}

.assignment-list-card {
    background-image: url('../images/pink\ pixel\ cloud.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #d14c74;
    width: 40%;
    height: 400px;
    background-color: #f6cfbe;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.assignment-list-card a {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    text-decoration: none;
}

/* Footer */

footer {
    background-color: #fff;
    color: #5D6169;
    padding: 20px;
    text-align: center;
}

/* Mobile responsive code */

@media (max-width: 767px) and (min-width: 320px) {
    .assignment-list-card {
        background-color: #77dd77;
    }

    footer {
        background-color: #FF964F;
    }
}

.go-to-top {
    background-color: #7C7F85;
    color: #b7c6e7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 125px;
    bottom: 10px;

}

.go-to-top svg {
    fill: #62CCCC;
}

.position-relative {
    position: relative;
    padding: 40px 300px;
    background-color: #fff;

}

.position-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transform: translateX(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.position-absolute svg {
    fill: #b7c6e7;
    
}

.self {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 175px;
}